// Font
$mainFont: "Roboto", Helvetica, Arial, sans-serif;

// Size
$mainTitleColor: rgba(0, 0, 0, 0.7);
$mainTextColor: rgba(0, 0, 0, 0.5);

// Main color
$default-color: #ededed;
$primary-color: #0288d1;
$selected-color: #1b79b9;
$success-color: #0ab169;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;

// Border Color
$border-base: #dfdfdf;
